<%= render "shared/navbar" %>

<section class="hero">
  <h1>Personal Finance Tracker</h1>
  <div class="description">
    <p>Review your monthly spending, create a budget, and track your net worth in real-time.</p>
    <p>Link your personal accounts to import and view your financial data across multiple accounts.</p>
  </div>

  <article class="call-to-action">
    <%= render "shared/sign_up" %>
  </article>
</div>